# Managed by matlab package
[Desktop Entry]
Version=2018b
Type=Application
Terminal=false
MimeType=text/x-matlab
Exec=matlab -desktop
Name=MATLAB
Icon=matlab
Categories=Development;Math;Science
Comment=Scientific computing environment
StartupNotify=true